.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Players{
  display: flex;
    align-items: center;
    width: 30%;
    flex-direction: row;
    justify-content: space-evenly;
}

h3{
  margin:0px;
}

input{
  width:50px;
  background-color: #404550;
  border: #282c34;
  border-radius: 8px;
  height:60px;
  color:white;
  font-size: 24px;
}

button{
  background-color: #404550;
  width:60px;
  height:60px;
  border: #797d86;
  border-style: solid;
  border-radius: 8px;
  color: white;
}